.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__left {
  flex: 0.9;
}
body {
  background-color: #f5f6fa;
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.app__header > h1 {
  font-size: 1.2rem;
  color: #fc3c3c;
}
@media screen and (min-width: 500px) {
  .app__header > h1 {
    font-size: 2rem;
  }
}
.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.graph__title {
  margin-top: 10px;
}
