.map-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.barGraphVolume {
  width: 20rem;
  margin: auto;
}
